<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tiny Blog - Homepage</title>
</head>
    <body>
        <div class="container">
            <h1> Tiny Blog Posts</h1>
            <hr/>
            <div class="post-container">
                <div th:each="post: ${posts}">
                    <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title of post goes here</a></h2>
                    <p th:text="'Published ' + ${post.createdAt}"></p>
                    <p th:text="${post.content}">Post body text goes here</p>
                    <hr/>

                </div>
            </div>
        </div>
    </body>
</html>